BOT_PREFIX=";" # Set your prefix here;
DISCORD_TOKEN="" # Discord Bot token;
WORLD_PATH="" # Absolute path of world folder;
LOGS_PATH="" # Absolute path of ile known as latest.log;
LOGS_OFFSET_PATH="" # Absolute path of ile known as latest.log.offset;
SERVER_IP="" # Server IP Ex: 255.255.255.255;
SERVER_PORT="" # Server Port;
SERVER_RCON_PORT="" # RCON Port;
SERVER_RCON_PASSWORD="" # RCON Password;
SERVER_MODPACK="" # The name of the Modpack;
SERVER_VERSION="" # Any pattern might suffice Ex: 1.21.1 or NeoForge 1.21.1;
SERVER_PLAYER_LIMIT="" # Number Ex: 5, 10, 15;
SCHEMATICS_PATH="" # Absolute path;
DISCORD_SERVER_CHAT_ID="" # Chat ID;